*.pyc
*.pyo
.idea/
settings.py
.DS_Store
MonBacho/.DS_Store
*.pyc
__init__.pyc
MonBacho/settings.pyc
MonBacho/wsgi.pyc

*.pyc

*.pyc

*.pyc

MonBacho/views.pyc

*.pyc

MonBacho/const/FORM_PROPERTIES.pyc

MonBacho/urls.pyc

MonBacho/views.pyc

MonBacho/const/FORM_PROPERTIES.pyc

MonBacho/urls.pyc

MonBacho/const/ERROR_TXT.pyc

MonBacho/settings.pyc

MonBacho/settings.pyc

MonBacho/static/.DS_Store

.idea/misc.xml

.idea/misc.xml

.idea/workspace.xml

*.xml

*.xml

*.xml
