
body#loginPage section#content { 
	position: absolute; 
	top: 150px; 
	left: 50%; 
	width: 500px; 
	margin: 0 0 0 -550px; 
	padding: 0;
}

form label { 
	display: block;
	width: 150px;
	float: left;
	text-align:right; 
	padding: 4px 10px 0 0;
}

form input[type="email"], form input[type="text"], form input[type="password"]{
	display: block;
	width: 200px; 
	padding: 2px;
}

form input[type="submit"] { 
	margin: 0 20px 0 160px;
	background-color: #3B5998;
	color: #FFFFFF;
	padding: 2px 15px 3px 15px;
	text-align: center;
}

a { 
	color: #3b5998;
}

form p.error{
	margin-left: 160px;
	color: #d23d24;	
}

ul.errorlist {
	margin-left: 160px;
	padding: 0;
	list-style-type: none;
	color: #d23d24;
}

fieldset {
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
}

/* Bootstrap custom*/
.navbar-default {
  background-color: #4463a2;
  border-color: #7dc0b7;
}
.navbar-default .navbar-brand {
  color: #FFFF96;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #4463a2;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ecdbff;
  background-color: #7dc0b7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #4463a2;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #7dc0b7;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #7dc0b7;
}
.navbar-default .navbar-toggle {
  border-color: #7dc0b7;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #7dc0b7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #7dc0b7;
  }
}