{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}ResetPassword{% endblock %}
{% block bodyId %}ResetPassword{% endblock %}
{% block content %}

<div id="login-overlay" class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Réinitialisation de mot de passe</h4>
	    </div>
	    <div class="modal-body">
	        <div class="row">
	            <div class="col-sm-6">
	                <div class="well">
	                    <form id="loginForm" method="POST">
                            {% crispy form %}
	                    </form>
	                </div>
	            </div>
                <div class="col-sm-6">
	                <ul class="list-unstyled" style="line-height: 2">
	                    <li><span class="fa fa-check-square-o text-success"></span> Un mot de passe envoyé par mail</li>
	                    <li><span class="fa fa-check-square-o text-success"></span> Vérifiez vos mails</li>
	                    <li><span class="fa fa-check-square-o text-success"></span> Utiliser le mot de passe pour vous connecter</li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>

</div>
{% endblock %}
