{% load staticfiles %}
<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<!-- Bootstrap -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<title>MonBacho - {% block title %}Bienvenue{% endblock %}</title> 
	</head>
	<body  id="{% block bodyId %}genericPage{% endblock %}"> 
		<header> 
			{% block headerContent %}{% endblock %}
		</header>
		{% include "navbar.html" %}
		
		<div class="container">
			{% if messages %}
				<div class="row">
					<div class='col-sm-6 col-sm-offset-3'>
						{% for message in messages %}
							<div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" role="alert"{% endif %}>{{ message }}>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
		
		<section id="content"> 
			{% block content %}{% endblock %} 
		</section>
	    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
	    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	    <script type="text/javascript" >
	    	$(document).ready(function(){
	    		$('#login-form-link').click();
		        $("#id_name").attr('placeholder', 'Nom');
		        $("#id_lastname").attr('placeholder', 'Prenom');
		        $("#id_nickname").attr('placeholder', 'Pseudo');
		        $("#id_mail").attr('placeholder', 'Email');
		        if ($('#register-form-link').hasClass('active')){
		        	$('#register-form-link').click();
		        }
		        else{
		        	$('#login-form-link').click();
		        }
		        	
		        $('#login-form-link').click(function(e) {
		    		$("#login-form").delay(100).fadeIn(100);
		     		$("#register-form").fadeOut(100);
		    		$('#register-form-link').removeClass('active');
		    		$(this).addClass('active');
		    		e.preventDefault();
		    	});
		    	$('#register-form-link').click(function(e) {
		    		$("#register-form").delay(100).fadeIn(100);
		     		$("#login-form").fadeOut(100);
		    		$('#login-form-link').removeClass('active');
		    		$(this).addClass('active');
		    		e.preventDefault();
		    	});
	    	});
    	</script>
	</body>
</html>