{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}CreateExam{% endblock %} 
{% block bodyId %}CreateExam{% endblock %}
{% block content %}

<div class="container">
    <fieldset class="fieldset">
       <h1>Enregistrer un examen</h1>
       <div class="row">
       		<div class="col-xs-6">
  				{% crispy form %}
  				<!-- Champs utilisés par le mécanisme formset de Django -->
				{{ sortedForm.management_form }}
			    {% for f_form in sortedForm %}
			        {% crispy f_form %}
			    {% endfor %}
			</div>
    	</div>
    </fieldset>
</div>
{% endblock %}
