{% extends "base.html" %}

{% block title %}Connexion{% endblock %} 
{% block bodyId %}loginPage{% endblock %}
{% block content %}

<div class="container">
	<fieldset class="fieldset">
	<div class="row">
		<div class="col-md-8">
		    <ul class="nav nav-tabs">
		        <li class="active"><a data-toggle="tab" href="#sectionLogin">Identification</a></li>
		        <li><a data-toggle="tab" href="#sectionB">Créer un compte</a></li>
		    </ul>
			<div class="tab-content">
				<div id="#sectionLogin" class="tab-pane fade in active">
					<form class="form-horizontal" action="login" method="post">{% csrf_token %}
						<fieldset><legend></legend>
							{{form.as_p}}
						</fieldset>
						<p>
							<input type="submit" value="Se connecter" class="btn btn-default"/>
						</p>
					</form>
				</div>
		    </div>
	    </div>
	    <div class="col-md-4">
	    	<p>Cette interface vous permet de gérer les fonctionnalités liées:
•
à votre abonnement Freebox, en vous identifiant à l'aide de votre numéro de téléphone fixe, votre numéro Freebox ou votre idenfiant commençant par "fbx" et du mot de passe associé.
•
à votre abonnement Free 50 Heures, en vous identifiant avec votre numéro de téléphone fixe et du mot de passe associé. Si vous disposez d'un abonnement Free 50 Heures et d'un abonnement Freebox au même numéro, veuillez n'indiquer que votre numéro de ligne.
•
à votre compte eMail, en vous identifiant avec ce qui précède @free.fr et du mot de passe associé.</p>
	    </div>
    </div>
    </fieldset>
</div>
{% endblock %}
