{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Connexion{% endblock %} 
{% block bodyId %}LoginPage{% endblock %}
{% block content %}

<div id="login-overlay" class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Login to <b>YaelsEverythingStore.com</b></h4> or go back to our <a href="./index.jsp">main site</a>.
	    </div>
	    <div class="modal-body">
	        <div class="row">
	            <div class="col-xs-6">
	                <div class="well">
	                    <form id="loginForm" method="POST">
                            {% crispy form %}
	                    </form>
	                </div>
	            </div>
	            <div class="col-xs-6">
	                <p class="lead">Register now for <span class="text-success">FREE</span></p>
	                <ul class="list-unstyled" style="line-height: 2">
	                    <li><span class="fa fa-check text-success"></span> See all your orders</li>
	                    <li><span class="fa fa-check text-success"></span> Shipping is always free</li>
	                    <li><span class="fa fa-check text-success"></span> Save your favorites</li>
	                    <li><span class="fa fa-check text-success"></span> Fast checkout</li>
	                    <li><span class="fa fa-check text-success"></span> Get a gift <small>(only new customers)</small></li>
	                    <li><span class="fa fa-check text-success"></span>Holiday discounts up to 30% off</li>
	                </ul>
	                <p><a href="./Register.jsp" class="btn btn-info btn-block">Yes please, register now!</a></p>
	            </div>
	        </div>
	    </div>
	</div>

</div>
{% endblock %}
