<nav role="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand"><span class="glyphicon glyphicon-home"></span>&nbsp;MBacho</a>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Examens</a></li>
            <li><a href="#">Corrigés</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download"><span class="glyphicon glyphicon-list"></span> Etablissements <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Drafts</a></li>
                    <li><a href="#">Sent Items</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Trash</a></li>
                </ul>
            </li>
        </ul>
        <form role="search" class="navbar-form navbar-left">
            <div class="form-group">
                {% csrf_token %}
                <input type="text" id="search" name="search" placeholder="Search" class="form-control">
                <ul id="search_result" role="menu" class="dropdown-menu">

                </ul>
            </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
            {% if logged_user %}
                <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">{{ logged_user.nickname|capfirst }}<span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Drafts</a></li>
                    <li><a href="#">Sent Items</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Trash</a></li>
                </ul>
            </li>
            {% else %}
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>