{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Register{% endblock %} 
{% block bodyId %}RegisterPage{% endblock %}
{% block content %}

<div id="login-overlay" class="modal-dialog">
	<div class="modal-content">
	    <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Créer un compte et rejoignez la communauté <b>Mbacho</b></h4>
	    </div>
	    <div class="modal-body">
	        <div class="row">
	            <div class="col-sm-6">
	                <div class="well">
	                    <form id="UserForm" method="POST">
                            {% crispy form %}
	                    </form>
	                </div>
	            </div>
	            <div class="col-sm-6">
	                <p class="lead">S'inscrire à la communauté <span class="text-success">MBacho</span></p>
	                <ul class="list-unstyled" style="line-height: 2">
	                    <li><span class="fa fa-check text-success"></span> 	&ast;Consulter tous les examens/corrigés </li>
	                    <li><span class="fa fa-check text-success"></span> 	&ast;Proposer des examens/corrigés </li>
	                    <li><span class="fa fa-check text-success"></span> 	&ast;Adhérer à la newsletter </li>
	                    <li><span class="fa fa-check text-success"></span> 	&ast;Discuter avec d'autres membres </li>
	                    <li><span class="fa fa-check text-success"></span>  &ast;Et bien plus que ça <small>...</small></li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>

</div>
{% endblock %}
